<!doctype html>
<html lang="en">

{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <style>
    p.grayText {color: #a5a9ac;}
    a.grayText {color: #a5a9ac;}
    </style>


    <!-- Bootstrap core CSS -->
<link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}">
    <!-- Fontawasome core CSS -->
<link rel="stylesheet" href="{% static '/css/all.css' %}">


    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-md-6 py-3">
              <h4 class="text-white">Sobre mim</h4>
              <p class="grayText">Eu sou Engenheiro eletricista / programador, com mestrado em Engenharia Eletrica pela Harbin Institute of Technology, atualmente aberto a novas oportunidades, sinta-se livre para me contactar.</p>
            </div>
            <div class="col-sm-5 offset-md-1 py-3">
            
              <h4 class="text-white"> Contatos</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/adelsondepaulo/" class="grayText"><i class="fab fa-linkedin"></i> https://www.linkedin.com/in/adelsondepaulo/</a></li>
                <li><a href="adelsondepaulo@hotmail.com" class="grayText"><i class="far fa-envelope"></i> adelsondepaulo@hotmail.com</a></li>
                <li><p class="grayText"><i class="fas fa-phone-square-alt"></i> (11) 9 6287-4012</p></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
            <h4><i class="far fa-address-card"></i> Curriculo</h4>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
    
    <title>Adelson de Paulo Fecundo</title>

        
    

  </head>

<body>
    
<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Adelson de Paulo Fecundo</h1>
      <h5 class="jumbotron-heading">Engenheiro Eletricista / Programador</h5>
      <p class="lead text-muted"> Mestre em Engenharia Elétrica pela Harbin Institute of Technology (HIT), China.  Formado em engenharia elétrica pela faculdade Pitágoras de Ipatinga.</p>
      <div class="row bg-white border box-shadow align-items-center">
          <div  align="center" class="col-xs-12 col-sm-12 col-md-12 col-lg-3 py-3">
        <img src="{% static 'Adelson.jpg'%}"height="300"></img>
          </div>
          <div  align="left" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <ul>
          <li>Programação(C,C++,C#, java)</li>
          <li>Python (Flask, Django, Anaconda)</li>
          <li>Microcontroladores (8051, PIC)</li>
          <li>Banco de dados (MySQL, SQLite, MongoDB)</li>
          <li>Matlab, Simulink, AutoCAD e Revit</li>
            </ul>
          </div>
          <div align="left" class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <ul>
          <li>Projetos Elétricos e de iluminação(predial e residencial)</li>
          <li>Quadro de cargas</li>
          <li>Diagramas multifilar e unifilar</li>
          <li>Automação</li>
          <li>Circuito fechado de Tv</li>
            </ul>
          </div>
      </div>
      <p>
        <a href="https://www.linkedin.com/in/adelsondepaulo/" class="btn btn-primary my-2"><i class="fab fa-linkedin"></i> Linkedin</a>
        <a href="mailto:adelsondepaulo@hotmail.com" class="btn btn-primary my-2"><i class="fas fa-envelope"></i> E-mail</a>
      </p>      
    </div>
 

    <div class="container py-4">    
    <h3 align="center" class="jumbotron-heading">Experiência</h3>

      <div class="row py-4 border bg-light box-shadow align-items-center">
        {% for job in jobs.all %}
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="card mb-auto box-shadow">
            <img class="card-img-top" src="{{ job.image.url }}">
                <div class="card-body">
                    <p class="card-text">{{ job.summary }}</p>
                    <div style="text-align:right; width:100%; padding:0; class:btn-group";>
                        <a href="{% url 'detail' job.id %}">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Detalhes</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
      </div>

    </div>

  
      <div class="container py-4">
      <h3 class="jumbotron-heading text-center">Idiomas</h3>
      <div class="row border py-4 bg-light box-shadow justify-content-center">
          <div class="col-auto lead"> <strong>Inglês</strong> (Fluente), <strong>Mandarim</strong> (Avançado), <strong>Russo</strong> (Básico).</div>
      </div>
      </div>
  
 
    <div class="container py-4">
            <h3 align="center" class="jumbotron-heading">Historico Academico</h3>
            <div class="row border py-4 bg-light box-shadow">
                <div align="center" class="col-2 ">2017- 2019</div>
                <div align="left" class="col-10 "> <p class="lead" ><strong>Mestrado em Engenharia Elétrica Harbin Institute of Technology em Harbin, China. 8/2017 –7/2019.</strong><br>
                                                                      <strong>Tese:</strong> Disturbance influence and performance improvement of sliding mode controlled Boost converter.</p></div>
                <div align="center"  class="col-2 ">2014-2016</div>
                <div align="left" class="col-10 "> <p class="lead" ><strong>Intercambio estudantil no curso de Engenharia Elétrica  e Automação</strong><br>
                                                                      Harbin Institute of Technology em Harbin, China. 8/2014 – 7/2015.</p></div>
                <div align="center" class="col-2 ">2013-2014</div>
                <div align="left" class="col-10 "> <p class="lead" ><strong>Aprendizado de Chinês (mandarim)</strong><br>
                                                                      Northeast Normal University em Changchun, China. 8/2013 – 7/2014.</p></div>
                <div align="center" class="col-2 ">2010-2016</div>
                <div align="left" class="col-10"> <p class="lead" ><strong>Bacharelado em Engenharia Elétrica</strong><br>
                                                                      Faculdade Pitágoras de Ipatinga em Ipatinga, Brasil. 2010-2013 e  2015-2016.</p></div>
            </div>
    </div>


  
      <div class="container py-4">
              <h3 align="center" class="jumbotron-heading">Conquistas e Publicações</h3>
              <div class="row border py-4 bg-light box-shadow">
                  <div class="col-1 ">2019</div>
                  <div align="left" class="col-11 "> <p class="lead" >王艳敏, P. Fecundo Adelson, 于玲, 牛子铭, 英钊. 未建模动态对Buck 变换器滑模控制系统的影响分析。接受出版在自动化学报.
                          <br>(Yanmin Wang, P. Fecundo Adelson, Yu Ling, Niu Ziming, Ying Zhao. A influencia de dinâmicas não modeladas no controle por modos deslisantes de conversores buck. Aceito para publicação na Acta Automatica Sinica).</p></div>

                  <div class="col-1 ">2017</div>
                  <div align="left" class="col-11 "> <p class="lead" >Bolsa de estudo do Chinese Scholarship Council na Harbin Institute of Technology em Harbin, China.</p></div>

                  <div class="col-1 ">2013</div>
                  <div align="left" class="col-11 "> <p class="lead" >Ciencias sem fronteiras do governo na Northeast Normal University e Harbin Institute of Technology na China.</p></div>

                  <div class="col-1 ">2010</div>
                  <div align="left" class="col-11 "> <p class="lead" >Programa universidade para todos (PROUNI) na Faculdade Pitágoras de Ipatinga. Ipatinga, Brasil.</p></div>
              </div>
      </div>


</section>
</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top <i class="fas fa-arrow-up"></i> </a>
    </p>
    <p>Website developed by Adelson using Django, Bootstrap, jquery, popper and Css.</p>
  </div>
</footer>
<script src="{% static 'jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'tooltip.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>